<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dwall</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        background-image:url('{{ STATIC_URL }}img/bg.png');
      }
    </style>
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/ajax-messages.js"></script>

    {% block js %}
    {% endblock js%}

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Dwall</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {% block nav %}
              <li class="active"><a href="{% url 'messagewall-index' %}">Home</a></li>
              <li><a href="{% url 'messagewall-show_messages' %}">Wall</a></li>
              {% endblock nav %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span offset1 span10">
        {% block content %}


        {% endblock content %}
        </div>
      </div>

      <footer>
        <p>&copy; Xabier Larrakoetxea 2013</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
